---

import '@fontsource-variable/fira-code';
import '@fontsource-variable/lexend-deca';
import '@fontsource-variable/inter-tight';

import firaCodeWoff2 from '@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2?url';
import lexendDecaWoff2 from '@fontsource-variable/lexend-deca/files/lexend-deca-latin-wght-normal.woff2?url';
import interTightWoff2 from '@fontsource-variable/inter-tight/files/inter-tight-latin-wght-normal.woff2?url';

import './style/base.scss'

import Nav from '@/components/Nav';
import Footer from '@/components/Footer';

type Props = {
  pageTitle?: string
  pageDescription?: string
}

const { pageTitle, pageDescription } = Astro.props;

const siteTitle = "Price Hiller's Blog"
let title = siteTitle;
if (pageTitle != undefined) {
    title = `${pageTitle} | ${title} `;
}

// Evil shit done here to avoid a white flash when a page is loaded on a slow
// or high latency connection
import ThemeColors from '../theme/_wave.scss?raw';
import * as sass from 'sass';

const minCss = sass.compileString(
  `
  ${ThemeColors}
  html {
    background-color: $sumiInk0;
    color: $fujiWhite;
  }
  `,
  {
    style: 'compressed'
  }
).css;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={pageDescription ?? "Price Hiller's Blog"} />
    <meta name="color-scheme" content="dark" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preload" as="font" type="font/woff2" href={firaCodeWoff2} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={lexendDecaWoff2} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={interTightWoff2} crossorigin="anonymous" />
    <style is:inline set:html={minCss}></style>
    <div id="main-menu">
      <Nav/>
    </div>
    <script>
      // Ensure the main content is focused so page down and page up works
      // without needing to click -- makes it less of a pain for navigating via
      // keyboard
      document.querySelector('main')?.focus();
    </script>
  </head>
  <body>
    <main tabindex="-1">
      <slot />
    </main>
    <Footer/>
  </body>
</html>
